.cabecalho{
    display: flex;
    justify-content: space-around ;
    align-items: baseline;
    background-color: bisque;
}

.titulo{
    font-size: 60px;
    color: chocolate;
    background-color:

}
.logo {
    height: 150px;
    
}

.subtitulo{
    font-size: 40px;
    
}